@page
@using System.Security.Claims
@model VINES.Pages.Account.extGoogleModel
@{
    Layout = null;

    var email = User.FindFirstValue(ClaimTypes.Email);
    var name = User.FindFirstValue(ClaimTypes.Name);
}

<div>
    <p>Hey, @name! You have signed in with Google!</p>
    <p>We might require you to input a few more details to complete user registration.</p>
</div>
