@page
@using System.Security.Claims
@model VINES.Pages.Account.extGoogleModel
@{
    Layout = null;


}

<div>
    <p>We might require you to input a few more details to complete user registration.</p>
    <form>
        <label asp-for="@name"></label>
        <input asp-for="@name" />

        <label asp-for="@email"></label>
        <input asp-for="@email" />
    </form>
</div>
