@page
@model VINES.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your account with email @Model.Email is registed successfully.
</p>
