@page
@model VINES.Pages.Account.RegisterConfirmationModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Register Confirmation";
}

@if (User.Identity.IsAuthenticated == false)
{
    <div class="blog-page area-padding">
        <h1>@ViewData["Title"]</h1>
        <p>
            You have successfully Registered! Click <a asp-page="/Account/Login"><b>here</b></a> to log in.
        </p>
    </div>
}
else
{
    @if (User.Identity.IsAuthenticated && User.IsInRole("Patient"))
    {

        Response.Redirect("/patientLanding");
    }
    else if (User.Identity.IsAuthenticated && User.IsInRole("Advertiser"))
    {

        Response.Redirect("/advertiserLanding");
    }
    else if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        Response.Redirect("/adminLanding");
    }
}