@page
@model VINES.Pages.CommunityPosts.EditModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using VINES.Models
@{
    ViewData["Title"] = "Edit";
}
@if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
{
<h1>Edit Community Post</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CommunityPost.communityPostID" />
            <div class="form-group">
                <label asp-for="CommunityPost.communityPostTitle" class="control-label"></label>
                <input asp-for="CommunityPost.communityPostTitle" class="form-control"/>
                <span asp-validation-for="CommunityPost.communityPostTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommunityPost.communityPostCategory" class="control-label"></label>
                <select asp-for="CommunityPost.communityPostCategoryID" name="catID">
                    @foreach (var category in Model.categories)
                    {
                        <option value="@category.communityPostCategoryID">@category.communityPostCategory</option>
                    }
                </select>  
            </div>
            <div class="form-group">
                <label asp-for="CommunityPost.communityPostContent" class="control-label"></label>
                <input asp-for="CommunityPost.communityPostContent" class="form-control"/>
                <span asp-validation-for="CommunityPost.communityPostContent" class="text-danger"></span>
            </div>
             <div class="form-group" hidden>
                <label asp-for="CommunityPost.postID" class="control-label"></label>
                <input asp-for="CommunityPost.postID" class="form-control"/>
                <span asp-validation-for="CommunityPost.postID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to list</a>
</div>
}
else {
        @if (User.Identity.IsAuthenticated && User.IsInRole("Patient")) {
        
        Response.Redirect("/patientLanding");
    }
        else if (User.Identity.IsAuthenticated && User.IsInRole("Advertiser")) {
        
        Response.Redirect("/advertiserLanding");
    }
        else{
        Response.Redirect("/Index");
    }
}