@page
@model VINES.Pages.CommunityPosts.IndexModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Community Post";
    Layout = "_LayoutAdmin";

}
@if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
{
}
else {
   <h1>Access Denied!</h1>
}
