@page
@model VINES.Pages.Forums.EditModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using VINES.Models
@{
    ViewData["Title"] = "Edit Forum Posts";
}
@if ((await AuthorizationService.AuthorizeAsync(User, "PatientOnly")).Succeeded)
{
    <div class="blog-page area-padding">
        <h4 class="text-primary">Edit Forum Posts</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ForumPost.forumPostID" />

                    <div class="form-group">
                        <label asp-for="ForumPost.forumTitle" class="control-label">Title</label>
                        <input asp-for="ForumPost.forumTitle" class="form-control" />
                        <span asp-validation-for="ForumPost.forumTitle" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ForumPost.forumCategory" class="control-label">Forum Category</label>
                        <select asp-for="ForumPost.forumCategoryID" name="catID" class="form-control">
                            @foreach (var category in Model.categories)
                            {
                                <option value="@category.forumCategoryID">@category.forumCategory</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="ForumPost.forumContent" class="control-label">Forum Content</label>
                        <input asp-for="ForumPost.forumContent" class="form-control" />
                        <span asp-validation-for="ForumPost.forumContent" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="ForumPost.postID" class="control-label"></label>
                        <input asp-for="ForumPost.postID" class="form-control" />
                        <span asp-validation-for="ForumPost.postID" class="text-danger"></span>
                    </div>
                    <div class="px-2">
                        <div class="col-3">
                            <input type="submit" value="Save" class="btn btn-primary btn-sm text-white" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="px-2">
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success btn-sm text-white">Back to Index</a>
            </div>
        </div>

    </div>
}
else
{
    @if (User.Identity.IsAuthenticated && User.IsInRole("Patient"))
    {

        Response.Redirect("/patientLanding");
    }
    else if (User.Identity.IsAuthenticated && User.IsInRole("Advertiser"))
    {

        Response.Redirect("/advertiserLanding");
    }
    else
    {
        Response.Redirect("/Index");
    }
}
