@page
@model VINES.Pages.UpdateAccount.ChangePasswordModel
@{
}
<div class="container row p-6 m-6">
    <div class="col-18">
        <h2 class="text-info">Change Password</h2>
    </div>
    <div class="col-12 border pt-m3">
        <form method="post">
            <input type="hidden" asp-for="user.userID" />
        <div class="col-12 border p-3 mt-3">
            <label asp-for="input.password"></label>
            <input asp-for="input.password" />
            <span asp-validation-for="input.password"></span>
        </div>
        <div class="col-12 border p-3 mt-3">
            <label asp-for="input.newPassword"></label>
            <input asp-for="input.newPassword" />
            <span asp-validation-for="input.newPassword"></span>
        </div>
        <div class="col-12 border p-3 mt-3">
            <label asp-for="input.confirmPassword"></label>
            <input asp-for="input.confirmPassword" />
            <span asp-validation-for="input.confirmPassword"></span>
        </div>
        <input type="submit" value="Update" class="btn btn-pill text-white btn-block btn-primary"/>
        </form>
    </div>
</div>