@page
@model VINES.Pages.UpdateAccount.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="blog-page area-padding">
    <div class="container row">
    <div class="col-18">
        <h2 class="text-primary">Change Password</h2>
    </div>

    <div class="border container" style="padding:30px;">


        <form method="post">
            <input type="hidden" asp-for="user.userID" />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="input.password">Password</label>
                </div>
                <div class="col-6">
                    <input asp-for="input.password" class="form-control" name="password" required />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="input.newPassword">New Password</label>
                </div>
                <div class="col-6">
                    <input asp-for="input.newPassword" class="form-control" name="newPassword" required />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="input.confirmPassword">Confirm Password</label>
                </div>
                <div class="col-6">
                    <input asp-for="input.confirmPassword" class="form-control" name="confirmPassword" required />
                </div>
            </div>

        </form>
        <div class="col-2">
            <div class="px-2">
                <input type="submit" value="Update" class="btn btn-primary btn-sm text-white" />
            </div>
        </div>


    </div>
    </div>
</div>