@page
@model VINES.Pages.UpdateAccount.IndexModel
@{
    ViewData["Title"] = "Update Account";
}

<div class="blog-page area-padding">
    <div class="container row">
        <div class="col-18">
            <h2 class="text-primary">Your information</h2>
        </div>

        <div class="border container" style="padding:30px;">
            <form method="post">
                <div class="col-12 border p-3 mt-3" hidden>
                    <label asp-for="user.userID"></label>
                    <input asp-for="user.userID" />
                </div>
                <div class="col-12 border p-3 mt-3" hidden>
                    <label asp-for="user.roleID"></label>
                    <input asp-for="user.roleID" />
                </div>

                 <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="user.firstName">First Name</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="user.firstName" class="form-control" name="firstName" required/>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="user.middleName">Middle Name</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="user.middleName" class="form-control" name="middleName" required/>
                    </div>
                </div>

               <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="user.lastName">Last Name</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="user.lastName" class="form-control" name="lastName" required/>
                    </div>
                </div>


                 <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="user.contactNumber">Contact Number</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="user.contactNumber" class="form-control" name="contactNumber" required/>
                    </div>
                </div>

                <div class="col-12 border p-3 mt-3" hidden>
                    <label asp-for="user.email"></label>
                    <input asp-for="user.email" readonly />
                </div>

                <div class="col-12 border p-3 mt-3" hidden>
                    <label asp-for="user.password"></label>
                    <input asp-for="user.password" readonly />
                </div>

                <div class="col-12 border p-3 mt-3" hidden>
                    <label asp-for="user.dateRegistered"></label>
                    <input asp-for="user.dateRegistered" readonly />
                </div>

                <div class="col-12 border p-3 mt-3" hidden>
                    <label asp-for="user.genderID"></label>
                    <input asp-for="user.genderID" readonly />
                </div>

            
            <br />
            <div class="col-2">
                <input type="submit" value="Update" class="btn btn-primary btn-sm text-white" />
            </div>
            <br />
            </form>

            <div class="col-2">
                <a asp-page="ChangePassword" class="btn btn-success btn-sm text-white">Change Password</a>
            </div>
            <br />
        </div>
    </div>
    <br />



</div>