@page
@model VINES.Pages.Status.IndexModel
@{
    ViewData["Title"] = "User Status";
}
<div class="blog-page area-padding">
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        Access Status (if blocked)
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.users.Count(); i++)
                {
                    <tr>
                        <td>
                            @Model.users[i].email
                        </td>
                        <td>
                            @Model.users[i].role
                        </td>
                        <td>
                            <input type="checkbox" class="chk" asp-for="@Model.users[i].isBlocked" data-id="@Model.users[i].userID" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="submit" value="Submit"  class="btn btn-primary"/>
    </form>
</div>