@page
@model VINES.Pages.Disease.CreateModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
}
@if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
{
    <div class="blog-page area-padding">
        <h2 class="text-primary">Add A Disease</h2>
        <div class="border container" style="padding:30px;">
            <form method="post">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Diseases.diseaseName">Disease Name</label>
                    </div>
                    <div class="col-6">
                        <input asp-for="Diseases.diseaseName" class="form-control" name="name" />
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Diseases.notes">Notes</label>
                    </div>
                    <div class="col-6">
                        <textarea asp-for="Diseases.notes" class="form-control" name="notes"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-3 offset-4">
                        <input type="submit" value="Create" class="btn btn-primary btn-sm text-white" />
                    </div>
                    <div class="col-3">
                        <a asp-page="Index" class="btn btn-success btn-sm text-white">Back to Index</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

}
else
{
    @if (User.Identity.IsAuthenticated && User.IsInRole("Patient"))
    {

        Response.Redirect("/patientLanding");
    }
    else if (User.Identity.IsAuthenticated && User.IsInRole("Advertiser"))
    {

        Response.Redirect("/advertiserLanding");
    }
    else
    {
        Response.Redirect("/Index");
    }
}