@page
@{
    ViewData["Title"] = "About";
}

 <link href="~/assets/css/about.css" rel="stylesheet">
      <!-- Favicons -->
      <link href="~/lib/" rel="icon">
      <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

      <!-- Vendor CSS Files -->
      <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
      <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
      <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
      <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
      <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
      <link href="~/assets/css/style.css" rel="stylesheet">

 
    <section id="about-video" class="about-video">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-6">
            <img src="assets/img/VINESii.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
            <h3>About VINES</h3>
            <p class="fst-italic">
              VINES (Vaccine Information and Educating System) is a web application that provides factual information regarding Vaccines.
            </p>
            <h5>Our Mission:</h5>
            <p>To provide relevant, factual and timely updates for information on Vaccines around Metro Manila. This is achieved by putting together news content from various public health and news departments from the Philippines with the ultimate goal of being able to create informed decisions with regards to vaccines.</p>
            <h5>Services Offered:</h5>
            <ul>
              <li><i class="bx bx-check-double"></i> Provide News and Updates regarding Vaccines.</li>
              <li><i class="bx bx-check-double"></i> Generate lists of Institutions with your preferred Vaccines.</li>
              <li><i class="bx bx-check-double"></i> Host Advertisements.</li>
              <li><i class="bx bx-check-double"></i> View Institutions with specific Vaccines.</li>
            </ul>
           
          </div>

        </div>

      </div>
    </section>