@page
@model VINES.Pages.adminLandingModel
@using CommunityPosts
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "adminLanding";
}

@if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
{
    <!-- ======= Blog Page ======= -->
    <div class="blog-page area-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="page-head-blog">
              <br>
              <h5><b>Institutions Map</b></h5>
              <div id="vaxMap"></div>
              <a href="#">Add Institution</a>
              <br>
              <br>
              <div class="single-blog-page">
                <!-- recent start -->
                <div class="left-blog">
                  <h4>recent news</h4>
                  <div class="recent-post">
                    <!-- start single post -->
                    <div class="recent-single-post">
                      <div class="post-img">
                        <a href="#">
                          <img src="assets/img/blog/1.jpg" alt="">
                        </a>
                      </div>
                      <div class="pst-content">
                        <p><a href="#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                      </div>
                    </div>
                    <!-- End single post -->
                    <!-- start single post -->
                    <div class="recent-single-post">
                      <div class="post-img">
                        <a href="#">
                          <img src="assets/img/blog/2.jpg" alt="">
                        </a>
                      </div>
                      <div class="pst-content">
                        <p><a href="#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                      </div>
                    </div>
                    <!-- End single post -->
                    <!-- start single post -->
                    <div class="recent-single-post">
                      <div class="post-img">
                        <a href="#">
                          <img src="assets/img/blog/3.jpg" alt="">
                        </a>
                      </div>
                      <div class="pst-content">
                        <p><a href="#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                      </div>
                    </div>
                    <!-- End single post -->
                    <!-- start single post -->
                    <div class="recent-single-post">
                      <div class="post-img">
                        <a href="#">
                          <img src="assets/img/blog/4.jpg" alt="">
                        </a>
                      </div>
                      <div class="pst-content">
                        <p><a href="#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                      </div>
                    </div>
                    <!-- End single post -->
                  </div>
                </div>
                <!-- recent end -->
              </div>
              <div class="single-blog-page">
                <div class="left-blog">
                  <h4>archive</h4>
                  <ul>
                    <li>
                      <a href="#">07 July 2016</a>
                    </li>
                    <li>
                      <a href="#">29 June 2016</a>
                    </li>
                    <li>
                      <a href="#">13 May 2016</a>
                    </li>
                    <li>
                      <a href="#">20 March 2016</a>
                    </li>
                    <li>
                      <a href="#">09 Fabruary 2016</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- End left sidebar -->
          <!-- Start single blog -->
          <div class="col-md-8 col-sm-8 col-xs-12">
            <h1 style="font-size: x-large;"><b>Dashboard</b></h1>



            <section id="counts" class="counts section-bg">
              <div class="container">
        
                <div class="row justify-content-end">

                  <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showSources">
                      <br>
                      <h1>7</h1>
                      <h5>News Sources</h5>

                  </div>
                  
                  <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id = "showInstitutions">
                      <br>
                      <h1>16</h1>
                      <h5>Institutions in database</h5>

                  </div>

                  <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id = "showVaccines">
                      <br>
                      <h1>8</h1>
                      <h5>Vaccines in database</h5>

                  </div>

                  <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center">
                      <br>
                      <h1>87</h1>
                      <h5>Recommendations Given</h5>
                      

                  </div>
                  
        
                </div>
        
              </div>
            </section>

            <h1 style="font-size: x-large;"><b>Diseases</b></h1>
            <div class="row">
              <!-- End single blog -->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="single-blog">
                  <div class="blog-text">
                    <table style="width:100%">
                      <tr>
                        <th colspan="2">Disease Name</th>
                        <th colspan="2">Settings</th>
                      </tr>
                      <tr>
                        <td colspan="2">COVID-19</td>
                        <td colspan="2"><a href="#">Update</a></td>
                      </tr>
                      <tr>
                        <td colspan="2">Hepatitis B</td>
                        <td colspan="2"><a href="#">Update</a></td>
                      </tr>
                      <tr>
                        <td colspan="2">Measles</td>
                        <td colspan="2"><a href="#">Update</a></td>
                      </tr>
                      <tr>
                        <td colspan="2">Polio</td>
                        <td colspan="2"><a href="#">Update</a></td>
                      </tr>
                      <tr>
                        <td colspan="2">Tetanus</td>
                        <td colspan="2"><a href="#">Update</a></td>
                      </tr>

                    </table>
                  </div>
                  <span>
                    <a href="#" class="ready-btn">View more</a>
                  </span>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <span>
                    <a href="#" class="ready-btn">Add new</a>
                  </span>
                </div>
              </div>
            </div>




            <h1 style="font-size: x-large;"><b>Institutions</b></h1>
            <div class="row">
              <!-- End single blog -->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="single-blog">
                  <div class="blog-text">
                    <table style="width:100%">
                      <tr>
                        <th colspan="2">Institution Name</th>
                        <th colspan="2">Address</th>     
                        <th colspan="2">Settings</th>
                      </tr>
                      <tr>
                        <td colspan="2">Adela Serra Ty Memorial Medical Center</td>
                        <td colspan="2">Capitol Hills, Telaje, Tandag City</td>
                        <td colspan="2"><a href="#">Update</a></td>
                      </tr>
                      <tr>
                        <td colspan="2">Adventist Hospital-Cebu, Inc.</td>
                        <td colspan="2">#400 Tres de Abril St., San Nicolas, Cebu City</td>
                        <td colspan="2"><a href="#">Update</a></td>
                      </tr>
                      <tr>
                        <td colspan="2">Adventist Hospital-Davao, Inc.</td>
                        <td colspan="2">Km. 7 McArthur Highway, Bangkal, Davao City</td>
                        <td colspan="2"><a href="#">Update</a></td>
                      </tr>
                      <tr>
                        <td colspan="2">Adventist Hospital-Palawan, Inc.</td>
                        <td colspan="2">San Pedro, Puerto Princesa City</td>
                        <td colspan="2"><a href="#">Update</a></td>
                      </tr>
                      <tr>
                        <td colspan="2">Adventist Hospital-Santiago City, Inc.</td>
                        <td colspan="2">Purok 5, National Highway, Mabini, Santiago City, Isabela</td>
                        <td colspan="2"><a href="#">Update</a></td>
                      </tr>
                    </table>
                  </div>
                  <span>
                    <a href="#" class="ready-btn">View more</a>
                  </span>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <span>
                    <a href="#" class="ready-btn">Add new</a>
                  </span>
                </div>
              </div>
            </div>



            <h1 style="font-size: x-large;"><b>Vaccines</b></h1>
            <div class="row">
              <!-- End single blog -->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="single-blog">
                  <div class="blog-text">
                    <table style="width:100%">
                      <tr>
                        <th colspan="2">Vaccine For</th>
                        <th colspan="2">Vaccine Name</th>
                        <th colspan="2">Settings</th>
                      </tr>
                      <tr>
                        <td colspan="2">COVID-19</td>
                        <td colspan="2">Covaxin</td>
                        <td colspan="2"><a href="#">Update</a></td>
                      </tr>
                      <tr>
                        <td colspan="2">COVID-19</td>
                        <td colspan="2">Moderna</td>
                        <td colspan="2"><a href="#">Update</a></td>
                      </tr>
                      <tr>
                        <td colspan="2">COVID-19</td>
                        <td colspan="2">Janssen</td>
                        <td colspan="2"><a href="#">Update</a></td>
                      </tr>
                      <tr>
                        <td colspan="2">COVID-19</td>
                        <td colspan="2">Oxford-AstraZeneca</td>
                        <td colspan="2"><a href="#">Update</a></td>
                      </tr>
                      <tr>
                        <td colspan="2">COVID-19</td>
                        <td colspan="2">Pfizer-BioNTech</td>
                        <td colspan="2"><a href="#">Update</a></td>
                      </tr>
                    </table>
                  </div>
                  <span>
                    <a href="#" class="ready-btn">View more</a>
                  </span>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <span>
                    <a href="#" class="ready-btn">Add new</a>
                  </span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div><!-- End Blog Page -->


<!-- dashboard modals -->

<div class="modal fade" id="newsSources">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">News Sources</h4>
          </div>
          <div class="modal-body">

            <p>https://www.fda.gov.ph/advisories/</p>
            <p>https://doh.gov.ph/press-releases</p>
            <p>https://www.who.int/news-room/headlines</p>
            <p>https://manila.gov.ph/news-and-events/</p>
            <p>https://quezoncity.gov.ph/news-and-media/</p>
            <p>https://www.makati.gov.ph/content/news</p>
            <p>https://www.pasigcity.gov.ph/news-events</p>
            <br>
            <input type="button" class="btn btn-secondary" id="hideSources" value="Hide" />
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="institutions">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Institutions in database</h4>
          </div>
          <div class="modal-body">
            <p>Adela Serra Ty Memorial Medical Center</p>
            <p>Adventist Hospital-Cebu, Inc.</p>
            <p>Adventist Hospital-Davao, Inc.</p>
            <p>Adventist Hospital-Palawan, Inc.</p>
            <p>Adventist Hospital-Santiago City, Inc.</p>
            <p>Adventist Medical Center Manila</p>
            <p>Adventist Medical Center-Bacolod, Inc.</p>
            <p>Adventist Medical Center-Iligan City, Inc.</p>
            <p>Adventist Medical Center-Valencia City, Inc.</p>
            <p>Ago General Hospital</p>
            <p>Air Force General Hospital</p>
            <p>Alabang Medical Center</p>
            <p>Albay Doctors Hospital</p>
            <p>Allah Valley Medical Specialists Center, Inc.</p>
            <p>Allied Care Experts (ACE) Medical Center - Baypointe, Inc.</p>
            <p>Allied Care Experts (ACE) Medical Center - Pateros, Inc.</p>
            <br>
            <input type="button" class="btn btn-secondary" id="hideInstitutions" value="Hide" />
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="vaccines">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Vaccines in database</h4>
          </div>
          <div class="modal-body">
            
            <p>Covaxin</p>
            <p>Moderna</p>
            <p>Janssen</p>
            <p>Oxford-AstraZeneca</p>
            <p>Pfizer-BioNTech</p>
            <p>Sinovac</p>
            <p>Sinopharm</p>
            <p>Sputnik V</p>
            <br>
            <input type="button" class="btn btn-secondary" id="hideVaccines" value="Hide" />
          </div>
      </div>
  </div>
</div>
}
else {
        @if (User.Identity.IsAuthenticated && User.IsInRole("Patient")) {
        
        Response.Redirect("/patientLanding");
    }
        else if (User.Identity.IsAuthenticated && User.IsInRole("Advertiser")) {
        
        Response.Redirect("/advertiserLanding");
    }
        else{
        Response.Redirect("/Index");
    }
 
}