@page
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
  ViewData["Title"] = "advertiserLanding";
  Layout = "_LayoutAdvertiser";
}

@if ((await AuthorizationService.AuthorizeAsync(User, "AdvertiserOnly")).Succeeded)
{
    <!-- ======= Blog Page ======= -->
    <div class="blog-page area-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="page-head-blog">
                        <div class="single-blog-page">
                            <!-- recent Ads -->
                            <div class="left-blog">
                                <h4>Recently Added Advertisements</h4>
                                <div class="recent-post">
                                    <!-- start single post -->
                                    <div class="recent-single-post">
                                        <div class="post-img">
                                            <a href="#">
                                                <img src="assets/img/blog/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="pst-content">
                                            <p><a href="#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                                        </div>
                                    </div>
                                    <!-- End single post -->
                                    <!-- start single post -->
                                    <div class="recent-single-post">
                                        <div class="post-img">
                                            <a href="#">
                                                <img src="assets/img/blog/2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="pst-content">
                                            <p><a href="#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                                        </div>
                                    </div>
                                    <!-- End single post -->
                                    <!-- start single post -->
                                    <div class="recent-single-post">
                                        <div class="post-img">
                                            <a href="#">
                                                <img src="assets/img/blog/3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="pst-content">
                                            <p><a href="#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                                        </div>
                                    </div>
                                    <!-- End single post -->
                                </div>
                            </div>
                            <!-- recent end -->
                        </div>
                        <div class="single-blog-page">
                            <div class="left-blog">
                                <h4>Monthly Billing Statement Archive</h4>
                                <ul>
                                    <li>
                                        <a href="#">May 2022</a>
                                    </li>
                                    <li>
                                        <a href="#">June 2022</a>
                                    </li>
                                    <li>
                                        <a href="#">July 2022</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End left sidebar -->


                <!-- Start single blog -->
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <h1 style="font-size: x-large;"><b>Top Level Summary</b></h1>

                    <section id="counts" class="counts section-bg">
                        <div class="container">

                            <div class="row justify-content-end">

                                <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showAdvertisements">
                                    <br>
                                    <h1>7</h1>
                                    <h5>Advertisements Active</h5>

                                </div>

                                <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id = "showInteractions">
                                    <br>
                                    <h1>160</h1>
                                    <h5>Interactions per Day</h5>

                                </div>

                                <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id = "showMCost">
                                    <br>
                                    <h1>&#8369;1,000</h1>
                                    <h5>Monthly cost on ads</h5>

                                </div>

                                <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showTCost">
                                    <br>
                                    <h1>&#8369;7,500</h1>
                                    <h5>Total Expenses spent on Ads</h5>

                                </div>


                            </div>

                        </div>
                    </section>
                    <br />
                    <br />

                    <h1 style="font-size: x-large;"><b>Advertising Information</b></h1>
                    <div class="row">
                        <!-- End single blog -->
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="single-blog">
                                <div class="blog-text">
                                    <h5>
                                        <a href="#">Active Advertisements</a>
                                    </h5>
                                    <table style="width:100%">
                                        <tr>
                                            <th colspan="2">Advertisement Title</th>
                                            <th colspan="2">Subscription Start Date</th> 
                                            <th colspan="2">Subscription Duration</th>
                                            <th colspan="2">Total Subscription Cost</th>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Shopee Ad</td>
                                            <td colspan="2">07-11-2022</td>
                                            <td colspan="2">2 Months</td>
                                            <td colspan="2">&#8369;1,000</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Lazada Ad</td>
                                            <td colspan="2">07-11-2022</td>
                                            <td colspan="2">10 Months</td>
                                            <td colspan="2">&#8369;5,000</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Start single blog -->
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="single-blog">
                                <div class="blog-text">
                                    <h5>
                                        <a href="#">Manage Advertisements</a>
                                    </h5>
                                    <table style="width:100%">
                                        <tr>
                                            <th colspan="2">Advertisement Title</th>
                                            <th colspan="2">Description</th>
                                            <th colspan="2">Monthly Budget</th>
                                            <th colspan="2">Settings</th>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Shopee</td>
                                            <td colspan="2">Shopee Monthly Sale Ads</td>
                                            <td colspan="2">&#8369;500</td>
                                            <td colspan="2"><a href="#">Update</a>/<a href="#">Delete</a></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Lazada</td>
                                            <td colspan="2">Lazada Monthly Sale Ads</td>
                                            <td colspan="2">&#8369;500</td>
                                            <td colspan="2"><a href="#">Update</a>/<a href="#">Delete</a></td>
                                        </tr>
                                    </table>
                                </div>
                                <br />
                                <span>
                                    <a href="#" class="ready-btn">Add New Advertisement</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Blog Page -->


    <!-- dashboard modals -->

    <div class="modal fade" id="showAdvertisements">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Advertisements Active</h4>
                </div>
                <div class="modal-body">

                    <p>Shopee</p>
                    <p>Lazada</p>
                    <br>
                    <input type="button" class="btn btn-secondary" id="hideAdvertisements" value="Hide" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="showInteractions">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Interactions per Day</h4>
                </div>
                <div class="modal-body">
                    <p><b>Shopee</b> :25</p>
                    <p><b>Lazada</b> :25</p>
                    <br>
                    <input type="button" class="btn btn-secondary" id="hideInteractions" value="Hide" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="showMCost">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Monthly cost on Ads</h4>
                </div>
                <div class="modal-body">

                    <p>Shopee &#8369;5,000</p>
                    <p>Lazada &#8369;5,000</p>
                    <br>
                    <input type="button" class="btn btn-secondary" id="hideMCost" value="Hide" />
                </div>
            </div>
        </div>
    </div>
}
else 
{
  <h1>Access Denied! </h1> 
  <p> Click 
        @if (User.Identity.IsAuthenticated && User.IsInRole("Patient"))
        {
            <a asp-page="/patientLanding">Here</a>
        }
        else if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <a asp-page="/adminLanding">Here</a>
        }
        else
        {
            <a asp-page="/Index">Here</a>
        }
        to return.</p>
}
