@page
@model IndexModel
@using VINES.Processes
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @{
        Process user = new Process();
        int x = 123;

    }
    <script>
            var x = 3;
            if (x == 1) {
                //testing shit up pa
                
            }


    </script>
</div>
