@page
@model IndexModel
@using VINES.Processes
@using CommunityPosts
@{
    ViewData["Title"] = "Home page";
}
<br/>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="news-tab" data-toggle="tab" href="#news" aria-controls="news" aria-selected="true">News</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="forum-tab" data-toggle="tab" href="#forum" aria-controls="forum" aria-selected="false">Forums</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="community-tab" data-toggle="tab" href="#community" aria-controls="community" aria-selected="false">Community Posts</a>
    </li>
</ul>
<div class="tab-content p-3 border-right border-left">
    <div class="tab-pane fade show active" id="news" role="tabpanel" aria-labelledby="news-tab">
        <h3>Latest News and Updates</h3>
        <p>This is where the scraped news and updates are placed</p>
    </div>
    <div class="tab-pane fade" id="forum" role="tabpanel" aria-labelledby="forum-tab">
        <h3>Forum</h3>
        <p>Forums are created in a separate class</p>
    </div>
    <div class="tab-pane fade" id="community" role="tabpanel" aria-labelledby="community-tab">
        <h3>Community Posts</h3>
    </div>
</div>

        @{
        Process user = new Process();
        user.sendEmail("chmtl_rambo@yahoo.com", "Welcome to VINES", "Hi");

    }
