@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using VINES.Models
@using CommunityPosts
@using Microsoft.AspNetCore.Http.Features
@{
    ViewData["Title"] = "Home page";
    Layout = "_LayoutLanding";

    @*var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
   var showBanner = !(consentFeature?.CanTrack ?? false);
   var cookieString = consentFeature?.CreateConsentCookie();*@
}

@* @if (showBanner)
{
    <div id="ck" sstyle="border:2px solid black;padding:12px;">
        <span>This site uses cookies</span>
        <button>Accept</button>
    </div>

    <script type="text/javascript">
(function() {
    var button = document.querySelector("#ck button");
    button.addEventListener("click", function(evt) {
        document.cookie = "@cookieString";

        ck.style.display = "none";
    }, false);
})();
        </script>
}*@

<partial name="_CookieConsentPartial" />
  <!-- ======= Blog Page ======= -->
    <div class="blog-page area-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="page-head-blog">
            <!--
              <div class="single-blog-page">
              </div>
            -->
              <h5><b>Institution Map</b></h5>
              <div id="vaxMap"></div>
              <a href="#">Institutions for you</a>
              <br>
              <br>
              <div class="single-blog-page">
                <!-- recent start -->
                <div class="left-blog">
                  <h4>recent news</h4>
                  <div class="recent-post">
                    <!-- start single post -->
                    <div class="recent-single-post">
                      <div class="post-img">
                        <a href="#">
                          <img src="assets/img/blog/1.jpg" alt="">
                        </a>
                      </div>
                      <div class="pst-content">
                        <p><a href="#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                      </div>
                    </div>
                    <!-- End single post -->
                    <!-- start single post -->
                    <div class="recent-single-post">
                      <div class="post-img">
                        <a href="#">
                          <img src="assets/img/blog/2.jpg" alt="">
                        </a>
                      </div>
                      <div class="pst-content">
                        <p><a href="#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                      </div>
                    </div>
                    <!-- End single post -->
                    <!-- start single post -->
                    <div class="recent-single-post">
                      <div class="post-img">
                        <a href="#">
                          <img src="assets/img/blog/3.jpg" alt="">
                        </a>
                      </div>
                      <div class="pst-content">
                        <p><a href="#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                      </div>
                    </div>
                    <!-- End single post -->
                    <!-- start single post -->
                    <div class="recent-single-post">
                      <div class="post-img">
                        <a href="#">
                          <img src="assets/img/blog/4.jpg" alt="">
                        </a>
                      </div>
                      <div class="pst-content">
                        <p><a href="#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                      </div>
                    </div>
                    <!-- End single post -->
                  </div>
                </div>
                <!-- recent end -->
              </div>
              <div class="single-blog-page">
                <div class="left-blog">
                  <h4>Community Posts</h4>
                   @foreach (var communitypost in Model.CommunityPosts)
                    {
                  <ul>
                    <li>
                      <a href="#">@communitypost.communityPostTitle</a>
                      <p>@communitypost.communityPostContent</p>
                    </li>
                  </ul>
                     }
                </div>
              </div>
            </div>
          </div>
          <!-- End left sidebar -->
          <!-- Start single blog -->
          <div class="col-md-8 col-sm-8 col-xs-12">
            <h1 style="font-size: x-large;"><b>Dashboard</b></h1>

            <section id="counts" class="counts section-bg">
              <div class="container">
        
                <div class="row justify-content-end">

                  <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id="showSources">
                      <br>
                      <h1>7</h1>
                      <h5>News Sources</h5>

                  </div>
                  
                  <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id = "showInstitutions">
                      <br>
                      <h1>16</h1>
                      <h5>Institutions in database</h5>

                  </div>

                  <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center" id = "showVaccines">
                      <br>
                      <h1>8</h1>
                      <h5>Vaccines in database</h5>

                  </div>

                  <div class="card col-lg-3 col-md-5 col-6 d-md-flex align-items-center text-center">
                      <br>
                      <h1>87</h1>
                      <h5>Recommendations generated</h5>

                  </div>

                </div>
        
              </div>
            </section>
            <br />
            <h1 style="font-size: x-large;"><b>News and Updates</b></h1>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="single-blog">
                  <div class="single-blog-img">
                  </div>
                  <div class="blog-text">
                    <h5>
                      <a href="#">Post my imagine Items</a>
                    </h5>
                    <div class="blog-meta">
                      <span class="date-type">
                        <i class="bi bi-calendar"></i>2016-03-05 / 09:10:16
                      </span>
                    </div>
                    <p>
                      Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit.
                    </p>
                  </div>
                  <span>
                    <a href="blog-details.html" class="ready-btn">Read more</a>
                  </span>
                </div>
              </div>
              <!-- End single blog -->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="single-blog">
                  <div class="blog-text">
                    <h5>
                      <a href="#">Post my imagine Items</a>
                    </h5>
                    <div class="blog-meta">
                      <span class="date-type">
                        <i class="bi bi-calendar"></i>2016-03-05 / 09:10:16
                      </span>
                    </div>
                    <p>
                      Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit.
                    </p>
                  </div>
                  <span>
                    <a href="blog-details.html" class="ready-btn">Read more</a>
                  </span>
                </div>
              </div>
              <!-- Start single blog -->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="single-blog">
                  <div class="blog-text">
                    <h5>
                      <a href="#">Post my imagine Items</a>
                    </h5>
                    <div class="blog-meta">
                      <span class="date-type">
                        <i class="bi bi-calendar"></i>2016-03-05 / 09:10:16
                      </span>
                    </div>
                    <p>
                      Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit.
                    </p>
                  </div>
                  <span>
                    <a href="blog-details.html" class="ready-btn">Read more</a>
                  </span>
                </div>
              </div>
              <!-- End single blog -->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="single-blog">
                  <div class="blog-text">
                    <h5>
                      <a href="#">Post my imagine Items</a>
                    </h5>
                    <div class="blog-meta">
                      <span class="date-type">
                        <i class="bi bi-calendar"></i>2016-03-05 / 09:10:16
                      </span>
                    </div>
                    <p>
                      Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit.
                    </p>
                  </div>
                  <span>
                    <a href="blog-details.html" class="ready-btn">Read more</a>
                  </span>
                </div>
              </div>
              <!-- Start single blog -->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="single-blog">
                  <div class="blog-text">
                    <h5>
                      <a href="#">Post my imagine Items</a>
                    </h5>
                    <div class="blog-meta">
                      <span class="date-type">
                        <i class="bi bi-calendar"></i>2016-03-05 / 09:10:16
                      </span>
                    </div>
                    <p>
                      Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit.
                    </p>
                  </div>
                  <span>
                    <a href="blog-details.html" class="ready-btn">Read more</a>
                  </span>
                </div>
              </div>
              <!-- End single blog -->
              <div class="blog-pagination">
                <ul class="pagination">
                  <li class="page-item"><a href="#" class="page-link">&lt;</a></li>
                  <li class="page-item active"><a href="#" class="page-link">1</a></li>
                  <li class="page-item"><a href="#" class="page-link">2</a></li>
                  <li class="page-item"><a href="#" class="page-link">3</a></li>
                  <li class="page-item"><a href="#" class="page-link">&gt;</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Blog Page -->

    <script>
        function showNotification() {
            const notification = new Notification("New message from Admin", {
                body: "Thank you for allowing notifications",
                icon: "favicon-32x32.png"
            });

            notification.onclick = (e) => {
                window.location.href = "https://google.com"
            }
        }

        console.log(Notification.permission);

if (Notification.permission === "granted") {
    showNotification();
} else if (Notification.permission !== "denied")
{
    Notification.requestPermission().then(permission => {
        if (permission === "granted") {
            showNotification();
        }
    });
}
    </script>

