@page
@model VINES.Pages.SubscribeModel

@{
    ViewData["Title"] = "Subscription";
}

<link href="~/assets/css/pricing.css" rel="stylesheet">
<center>
    <div class="container">
        <div class="align-center">

            <!-- ======= Pricing Section ======= -->
            <section id="pricing" class="pricing">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <h2>Subscription</h2>
                        <p>Access advanced features available only for Subscribed members.</p>
                    </div>

                    <div class="row">
                        <center>
                            <div class="col-lg-4 col-md-12 mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
                                <div class="box featured">
                                    <h3>Monthly</h3>
                                    <h4><sup>₱</sup>200<span> / month</span></h4>
                                    <ul>
                                        <li>News and Updates Regarding Vaccines</li>
                                        <li>ADS Shall Disappear</li>
                                        <li>Institutions based on Vaccine Preference</li>
                                        <li>Bookmarked News and Updates on Vaccines</li>
                                        <li>Community Posts and Comments</li>
                                    </ul>

                                    <div class="btn-wrap">
                                        <form asp-page-handler="checkout" method="post">
                                            <input type="hidden" name="total" value="200" />
                                            <button style="color:#2487ce" class="btn-buy">Subscribe</button>

                                        </form>
                                    </div>
                                </div>
                            </div>

                        </center>

                    </div>

                </div>
            </section><!-- End Pricing Section -->

        </div>
    </div>

</center>
