@page
@model VINES.Pages.Source.CreateModel
@{
}
<div class="blog-page area-padding">
<h2 class="text-primary">Add A Source</h2>    
<div class="border container" style="padding:30px;">  
    <form method="post">  
        <div class="form-group row">
            <div class="col-4">  
                <label asp-for="sources.sourceName"></label>  
            </div>  
            <div class="col-6">  
                <input asp-for="sources.sourceName" class="form-control" name="name" required/>  
            </div>  
        </div>   
        <div class="form-group row">
            <div class="col-4">  
                <label asp-for="sources.sourcesURI"></label>  
            </div>  
            <div class="col-6">  
                <input asp-for="sources.sourcesURI" class="form-control" name="uri" required/>  
            </div>  
        </div>  
  
  
         <div class="form-group row">
                    <div class="col-3 offset-4">
                        <input type="submit" value="Create" class="btn btn-primary btn-sm text-white" />
                    </div>
                    <div class="col-3">
                        <a asp-page="Index" class="btn btn-success btn-sm text-white">Back to Index</a>
                    </div>
                </div>
    </form>  
</div> 
</div>
