@page
@model VINES.Pages.Source.EditModel
@{
    ViewData["Title"] = "Edit Sources";
}
<div class="blog-page area-padding">
    <h4>Edit Source</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="sources.sourcesID" />
                <div class="form-group" hidden>
                    <label asp-for="sources.sourcesID" class="control-label"></label>
                    <input asp-for="sources.sourcesID" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="sources.sourceName" class="control-label">Source Name</label>
                    <input asp-for="sources.sourceName" class="form-control" name="name" required/>
                    <span asp-validation-for="sources.sourceName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="sources.sourcesURI" class="control-label">Source URL</label>
                    <input asp-for="sources.sourcesURI" class="form-control" name="uri" required/>
                    <span asp-validation-for="sources.sourcesURI" class="text-danger"></span>
                </div>
                <div class="px-2">
                        <div class="col-3">
                            <input type="submit" value="Save" class="btn btn-primary btn-sm text-white" />
                        </div>
                    </div>
            </form>
        </div>
    </div>

    <div class="px-2">
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success btn-sm text-white">Back to Index</a>
            </div>
        </div>
</div>