@page
@model VINES.Pages.Source.IndexModel
@{
    ViewData["Title"] = "Sources List";
}
<div class="blog-page area-padding">
    <div class="container row p-0 m-0">
        <div class="col-10">
            <h2 class="text-primary">Sources</h2>
        </div>

        <div class="col-12 border p-3 mt-3">
            <form method="post">
                <div class="scroll-auto">
                @if (Model.source.Count() > 0)
                {
                    <table class="table table-striped border">
                        <tr class="table-secondary">
                            <th>
                                No.
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                URI
                            </th>
                            <th>

                            </th>
                        </tr>
                        @{
                            var i = 1;
                        }
                        @foreach (var sources in Model.source)
                        {
                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    @Html.DisplayFor(m => sources.sourceName)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => sources.sourcesURI)
                                </td>
                                <td>
                                    <div class ="px-3">
                                    <button asp-page-handler="Delete" asp-route-id="@sources.sourcesID" onclick="return confirm('Are you sure you want to delete?')"
                                    class="btn btn-danger btn-sm">
                                        Delete
                                    </button>
                                    </div>
                                    <div class ="px-3">
                                    <a asp-page="Edit" asp-route-id="@sources.sourcesID" class="btn btn-success btn-sm text-white">Edit</a>
                                    </div>
                                </td>
                            </tr>
                            i++;
                        }
                    </table>
                }
                else
                {
                    <p>No sources yet</p>
                }
                </div>
            </form>
        </div>
         <div class="px-2">
                <div class="col-4">
                    <a asp-page="Create" class="btn btn-primary btn-sm text-white">Add a News Source</a>
                </div>
            </div>
    </div>
</div>


