@page
@model VINES.Pages.Vaccine.CreateModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Create Vaccines";
}
@if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
{
    <div class="blog-page area-padding">
        <div class="border container" style="padding:30px;">
            <form method="post">
                <div class="form-group row">
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="Vaccines.diseaseID">Disease Name</label>
                        </div>
                        <div class="col-6">
                            <select asp-for="Vaccines.diseaseID" name="dID">
                                @foreach (var diseases in Model.disease)
                                {
                                    <option value="@diseases.diseaseID">@diseases.diseaseName</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
        
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Vaccines.vaccineName">Vaccine Name</label>
                    </div>
                    <div class="col-6">
                        <textarea type="number" asp-for="Vaccines.vaccineName" class="form-control" name="notes"></textarea>
                    </div>
                </div>

            

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Vaccines.notes">Notes</label>
                    </div>
                    <div class="col-6">
                        <textarea type="number" asp-for="Vaccines.notes" class="form-control" name="notes"></textarea>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-3 offset-4">
                        <input type="submit" value="Create" class="btn btn-primary btn-sm text-white" />
                    </div>
                    <div class="col-3">
                        <a asp-page="Index" class="btn btn-success btn-sm text-white">Back to Index</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

}
else
{
    @if (User.Identity.IsAuthenticated && User.IsInRole("Patient"))
    {

        Response.Redirect("/patientLanding");
    }
    else if (User.Identity.IsAuthenticated && User.IsInRole("Advertiser"))
    {

        Response.Redirect("/advertiserLanding");
    }
    else
    {
        Response.Redirect("/Index");
    }
}